<strong>Olá, {{ organizer }}</strong>
<p>Houve uma inscrição no seu meetup!</p>
<h3>{{ meetup }}</h3>
<h4>{{ description }}</h4>
<hr>
<p>Dados do inscrito:</p>
<p>
  <strong>Usuário: </strong>{{ user }}<br />
  <strong>Email: </strong>{{ email }}<br />
</p>
<hr>
<br />
